.container {
  padding: var(--space-5);

  display: grid;
  gap: var(--space-5);
  align-items: center;
  justify-content: center;
  grid-column: 2 / span 12;
  grid-template-columns: repeat(12, minmax(auto, var(--space-9)));
}

@media only screen and (max-width: 500px) {
  .container {
    grid-column: 2 / span 6;
    grid-template-columns: repeat(6, 1fr);
    gap: var(--space-2);
  }
}